* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.2;
  opacity: 1;
  scroll-behavior: smooth;
  background: -webkit-linear-gradient(233deg, rgba(255, 177, 0, 0.8), rgba(255, 0, 0, 0) 70.71%), -webkit-linear-gradient(323deg, rgba(255, 71, 0, 0.631), rgba(0, 255, 0, 0) 70.71%), -webkit-linear-gradient(114deg, rgba(255, 141, 0, 0.541), rgba(0, 0, 255, 0) 70.71%);
  background: -o-linear-gradient(233deg, rgba(255, 177, 0, 0.8), rgba(255, 0, 0, 0) 70.71%), -o-linear-gradient(323deg, rgba(255, 71, 0, 0.631), rgba(0, 255, 0, 0) 70.71%), -o-linear-gradient(114deg, rgba(255, 141, 0, 0.541), rgba(0, 0, 255, 0) 70.71%);
  background: linear-gradient(217deg, rgba(255, 177, 0, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(255, 71, 0, 0.631), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(255, 141, 0, 0.541), rgba(0, 0, 255, 0) 70.71%);
  -webkit-background-size: cover;
          background-size: cover;
}

.alert {
  padding: 25px;
  margin: 20px 25px;
  border: 4px solid #ff0000;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #ff0000;
  font-size: 22px;
  background-color: #000000;
}

.header .h1 {
  padding-top: 30px;
  text-align: center;
  color: #000000;
}

.section__table .table {
  margin-top: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 19px;
  line-height: 1.1;
  color: #000000;
  border-collapse: collapse;
}

.section__table .table .col th {
  text-align: center;
}

.section__table .table .col td {
  padding-left: 10px;
  padding-right: 10px;
}

.section__table .table .col th, .section__table .table .col td {
  border: 2px solid #7d7c7c;
  border-left: none;
}

.section__table .table .col:first-child th, .section__table .table .col:first-child td {
  border-left: 2px solid #7d7c7c;
}

.section__table .table .col:first-child td {
  text-align: right;
}

.section__table .table .col:last-child th, .section__table .table .col:last-child td {
  border-left: none;
}

.section__table .table .col .letters:nth-child(2n), .section__table .table .col .number:nth-child(2n) {
  background: rgba(255, 255, 255, 0.379);
}

.section__table .table .col .letters:nth-child(2n+1), .section__table .table .col .number:nth-child(2n+1) {
  background: rgba(195, 195, 195, 0.221);
}

.section__table .table .col .big, .section__table .table .col .small {
  display: inline-block;
}

.section__table .table .col .nameCol {
  background: rgba(150, 135, 5, 0.234);
}

.section__table .table .col .big {
  font-weight: bold;
  padding-left: 16px;
}

.section__table .table .col .small {
  font-size: 16px;
  padding-left: 2px;
  padding-right: 10px;
}

.section__other-sites .links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__other-sites .links .col {
  margin-top: 20px;
  padding: 5px 0px;
}

.section__other-sites .links .col:last-child {
  margin-bottom: 40px;
}

.section__other-sites .links__link {
  padding: 5px 20px;
  text-decoration: none;
  font-size: 18px;
  border: 2px solid #4f4e4e;
  color: #4f4e4e;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.section__other-sites .links__link:hover {
  color: #ffffff;
  border-color: #ffffff;
}
