@charset "UTF-8";
/* 100(Thin),   200(Extra Light), 300(Light), 400(Regular),
	500(Medium), 600(Semi Bold),   700(Bold),  800(Extra Bold),
	900(Black),  950(Extra Black) */
/* 👆 1. -apple-system - шрифт (San Francisco) для iOS Safari, MacOS Safari, MacOS Firefox
		👆 2. BlinkMacSystemFont - (San Francisco) для MacOS Chrome
			👆 3. Segoe UI - для Windows */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body {
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  color: #000000;
  font-size: 16px;
  line-height: 1.2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  min-height: 100vh;
  background: -webkit-linear-gradient(233deg, rgba(255, 177, 0, 0.8), rgba(255, 0, 0, 0) 70.71%), -webkit-linear-gradient(323deg, rgba(255, 71, 0, 0.631), rgba(0, 255, 0, 0) 70.71%), -webkit-linear-gradient(114deg, rgba(255, 141, 0, 0.541), rgba(0, 0, 255, 0) 70.71%);
  background: -o-linear-gradient(233deg, rgba(255, 177, 0, 0.8), rgba(255, 0, 0, 0) 70.71%), -o-linear-gradient(323deg, rgba(255, 71, 0, 0.631), rgba(0, 255, 0, 0) 70.71%), -o-linear-gradient(114deg, rgba(255, 141, 0, 0.541), rgba(0, 0, 255, 0) 70.71%);
  background: linear-gradient(217deg, rgba(255, 177, 0, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(255, 71, 0, 0.631), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(255, 141, 0, 0.541), rgba(0, 0, 255, 0) 70.71%);
  scroll-behavior: smooth;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

@media screen and (min-width: 0px) and (max-width: 1210px) {
  .container {
    width: 90%;
  }
}

header,
section,
footer {
  position: relative;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%;
}

input,
textarea {
  outline: none;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
  border-color: #ff2828;
}

input:required:valid,
textarea:required:valid {
  border-color: #5aff28;
}

::-webkit-input-placeholder {
  color: #7d7c7c;
}

::-moz-placeholder {
  color: #7d7c7c;
}

:-ms-input-placeholder {
  color: #7d7c7c;
}

::-ms-input-placeholder {
  color: #7d7c7c;
}

::placeholder {
  color: #7d7c7c;
}

::-moz-selection {
  color: #fff;
  background: rgba(66, 65, 65, 0.322);
}

::selection {
  color: #fff;
  background: rgba(66, 65, 65, 0.322);
}

b,
strong {
  font-weight: 700;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  font-weight: 600;
  line-height: 1.2;
}

.h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #000000;
  font-size: 40px;
}

@media screen and (min-width: 420px) and (max-width: 1170px) {
  .h1 {
    font-size: 32px;
  }
}

@media screen and (min-width: 0px) and (max-width: 420px) {
  .h1 {
    font-size: 25px;
  }
}

.h2 {
  color: #000000;
  font-size: 36px;
}

@media screen and (min-width: 0px) and (max-width: 420px) {
  .h2 {
    font-size: 26px;
  }
}

.h3 {
  color: #000000;
  font-size: 36px;
  font-weight: normal;
}

/*____ button ____*/
.button {
  padding: 20px 40px;
  display: inline-block;
  position: relative;
  color: linear-gradient(217deg, rgba(255, 177, 0, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(255, 71, 0, 0.631), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(255, 141, 0, 0.541), rgba(0, 0, 255, 0) 70.71%);
  background: #2500f9;
  font-size: 16px;
  font-weight: 600;
  font-family: sans-serif;
  letter-spacing: 1px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0);
  -webkit-border-radius: 40px;
          border-radius: 40px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.button::after {
  width: 0%;
  height: 4px;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: .4;
  background: black;
  -webkit-border-bottom-left-radius: 2px;
          border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
          border-bottom-right-radius: 2px;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.button:hover {
  opacity: .9;
  background: #4423ff;
}

.button:hover::after {
  opacity: .8;
  background: #333333;
}

.button:active {
  background: #8d7aff;
}

.button:active::after {
  opacity: .32;
}

/*____// button _____*/
.error-alert {
  padding: 25px;
  margin: 20px 25px;
  color: #fc4141;
  font-size: 22px;
  border: 4px solid #fc4141;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  background-color: #0f0f0f;
}

.error-alert ul {
  padding-left: 1em;
}

.error-alert ul li {
  padding-left: 0.2em;
}

.table-section .h1 {
  padding-top: 30px;
  text-align: center;
  color: #000000;
}

.table-section #table {
  margin-top: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
  font-size: 18px;
  line-height: 1.1;
  border-collapse: collapse;
}

.table-section #table .col th, .table-section #table .col td {
  border: 2px solid #9a8974;
  border-left: none;
}

.table-section #table .col:first-child th, .table-section #table .col:first-child td {
  border-left: 2px solid #9a8974;
}

.table-section #table .col:first-child td {
  text-align: right;
}

.table-section #table .col tr {
  min-width: 1px;
}

.table-section #table .col tr:first-child {
  background: #efba42;
}

.table-section #table .col tr:nth-child(2n+2) {
  background: #fdd79a;
}

.table-section #table .col tr:nth-child(2n+3) {
  background: #efc37b;
}

.table-section #table .col th {
  text-align: center;
}

.table-section #table .col td {
  min-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.table-section #table .col td .big {
  width: 50%;
  padding-left: 16px;
  display: inline-block;
  text-transform: capitalize;
  font-weight: bold;
}

.table-section #table .col td .small {
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  font-size: 16px;
  text-transform: lowercase;
}

.other-sites .h2 {
  font-size: 20px;
  text-align: center;
}

.other-sites .links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.other-sites .links .links__item {
  margin-top: 20px;
  padding: 5px 0px;
}

.other-sites .links .links__item:last-child {
  margin-bottom: 60px;
}

.other-sites .links__link {
  padding: 5px 20px;
  color: #4f4e4e;
  font-size: 18px;
  border: 2px solid #4f4e4e;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.other-sites .links__link:hover {
  color: #ffffff;
  border-color: #ffffff;
}

.footer {
  padding-top: 35px;
  padding-bottom: 30px;
  background: rgba(79, 78, 78, 0.322);
}

.footer .footer__copyright {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.footer .footer__copyright--company {
  font-size: 18px;
}
