# Игнорирование по всюду каталогов/файлов:

/**/.vscode/
/**/*.cmd
/**/.git/
/**/Thumbs.db
/**/node_modules/
/**/debug.log
/**/*.DS_Store

# Для моих тестов или заготовок в "README.md"
/**/test__README.md