@charset "UTF-8";
@font-face {
  font-family: "raleway_exemple";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Raleway-Regular/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "raleway_exemple";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Raleway-Bold/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Bold/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold/Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "raleway_exemple";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Raleway-SemiBold/Raleway-SemiBold.eot");
  src: url("../fonts/Raleway-SemiBold/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-SemiBold/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold/Raleway-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "cookie_exemple";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Cookie-regular/Cookie-regular.eot");
  src: url("../fonts/Cookie-regular/Cookie-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Cookie-regular/Cookie-regular.woff") format("woff"), url("../fonts/Cookie-regular/Cookie-regular.ttf") format("truetype");
}

/*color*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  line-height: 1.75;
  font-family: "raleway_exemple", sans-serif;
  opacity: 1;
  background-color: #2a3b40;
}

.container {
  padding: 0;
  margin: 0 auto;
  width: 1085px;
  position: relative;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.h1 {
  line-height: 1;
  font-family: "cookie_exemple", sans-serif;
  font-size: 52px;
  color: #2a3b40;
}

.h2 {
  color: #ad6c12;
  font-size: 40px;
}

.h2, .h3, .h4, .h5 {
  line-height: 1;
  text-transform: uppercase;
}

b, strong {
  font-weight: bold;
}

/*______________ button ______________*/
.button {
  display: inline-block;
  border: none;
  color: #2a3b40;
  text-decoration: none;
  background-color: #fff;
  padding: 5px 25px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: -1px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  -webkit-transition: background-color .1s ease;
  -o-transition: background-color .1s ease;
  transition: background-color .1s ease;
}

.button::after {
  -webkit-transition: background-color .2s ease;
  -o-transition: background-color .2s ease;
  transition: background-color .2s ease;
  position: absolute;
  content: '';
  height: 4px;
  bottom: 0;
  width: 100%;
  background-color: gray;
  opacity: .18;
  -webkit-border-bottom-left-radius: 2px;
          border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
          border-bottom-right-radius: 2px;
  left: 0;
}

.button:focus, .button:hover {
  text-decoration: none;
  color: #2a3b40;
}

.button:hover {
  background-color: white;
  opacity: .9;
}

.button:hover::after {
  opacity: .8;
}

.button:active {
  background-color: #f2f2f2;
}

.button:active::after {
  opacity: .32;
}

/*______________// button ______________*/
section, header {
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
}

section {
  background-color: #2a3b40;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

::-moz-selection {
  background-color: #2a3b40;
  color: #fff;
}

::selection {
  background-color: #2a3b40;
  color: #fff;
}

/*______________ header хедера ______________*/
.header {
  min-height: 100vh;
  background-image: url(../img/bg_1.png);
  background-color: #2a3b40;
  background-repeat: no-repeat;
  background-size: cover;
}

.header > .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .container {
  min-height: inherit;
}

.header .h1 {
  line-height: 1;
  font-size: 75px;
}

.header .h2 {
  font-size: 70px;
  font-weight: 600;
}

.header .button {
  margin-top: 20px;
}

.header .flex__menu_logo {
  margin-top: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .flex__menu_logo .logo, .header .flex__menu_logo .menu {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.78);
}

.header .flex__menu_logo .logo {
  z-index: 1000;
}

.header .flex__menu_logo ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header .flex__menu_logo li {
  margin-right: 20px;
}

.header .flex__menu_logo li:last-child {
  margin-right: 0px;
}

.header .flex__menu_logo a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.78);
}

.header .flex__menu_logo a:hover {
  color: #fff;
}

.header .flex__menu_logo .menu__icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
  margin-top: 7px;
}

.header .flex__menu_logo .menu__icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: rgba(255, 255, 255, 0.78);
  -webkit-border-radius: 9px;
          border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.header .flex__menu_logo .menu__icon span:nth-child(1) {
  top: 0px;
}

.header .flex__menu_logo .menu__icon span:nth-child(2), .header .flex__menu_logo .menu__icon span:nth-child(3) {
  top: 13px;
  background: rgba(255, 255, 255, 0.47);
}

.header .flex__menu_logo .menu__icon span:nth-child(4) {
  top: 26px;
}

.header .flex__menu_logo .menu.menu__open {
  margin-top: 3px;
  margin-right: 13px;
}

.header .flex__menu_logo .menu.menu__open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.header .flex__menu_logo .menu.menu__open .menu__icon span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .flex__menu_logo .menu.menu__open .menu__icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .flex__menu_logo .menu.menu__open .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.header .flex__menu_logo .menu.menu__open .menu__links {
  display: block;
}

.header .header__center_info {
  width: 760px;
  background-color: rgba(255, 255, 255, 0.82);
  text-align: center;
  margin: auto;
}

.header .header__center_info .text_header {
  margin-top: 120px;
  margin-bottom: 120px;
}

/*______________// header cекция ______________*/
/*______________ second cекция ______________*/
.second .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: inherit;
}

.second .content_block {
  margin-top: 69px;
}

.second .content_block .content__text {
  padding-right: 20px;
  margin: auto;
  margin-left: 0;
  width: 500px;
  color: #fff;
}

.second .content_block .content__text .h_text {
  display: block;
  font-size: 29px;
  margin-bottom: 49px;
}

.second .content_block .content__text .text_second {
  text-align: justify;
  font-size: 18px;
}

.second .content_block img {
  width: 528px;
  height: 355px;
  margin: auto;
  margin-right: 0;
}

.second .content_block:last-child {
  margin-bottom: 69px;
}

/*______________// second cекция ______________*/
/*______________ third cекция ______________*/
.third {
  background-color: rgba(255, 255, 255, 0.82);
}

.third .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 69px;
  margin-bottom: 69px;
  min-height: inherit;
}

.third .content_text {
  margin: auto;
  width: 258px;
  color: #2a3b40;
}

.third .content_text .block_circle {
  margin-bottom: 25px;
}

.third .content_text .h_text2 {
  font-size: 19px;
}

.third .content_text .text_third {
  text-align: justify;
  font-size: 18px;
}

.third .content_text:first-child {
  margin-left: 0;
}

.third .content_text:last-child {
  margin-right: 0;
}

.circle {
  -webkit-box-shadow: 1px 2px 6px;
          box-shadow: 1px 2px 6px;
  width: 31px;
  height: 31px;
  background: #2a3b40;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  margin-right: 6px;
}

.circle:last-child {
  margin-right: 0;
}

/*______________// third cекция ______________*/
/*______________ fourth cекция ______________*/
.fourth {
  background-image: url(../img/bg_2.png);
  background-color: #2a3b40;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fourth .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fourth .fourth__center_info {
  width: 1080px;
  text-align: center;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 90px;
  color: #2a3b40;
}

.fourth .fourth__center_info .fourth_h {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: rgba(255, 255, 255, 0.82);
  width: 1080px;
}

.fourth .fourth__center_info ul.fourth__bloks_center {
  list-style: none;
  width: 1080px;
}

.fourth .fourth__center_info ul.fourth__bloks_center li.flex_item, .fourth .fourth__center_info ul.fourth__bloks_center img.img_item {
  padding: 0;
  margin: 0;
  width: 270px;
  height: 274px;
  background-color: rgba(255, 255, 255, 0.82);
}

.fourth .fourth__center_info ul.fourth__bloks_center li.flex_item .info {
  width: 160px;
  margin: auto;
}

.fourth .fourth__center_info ul.fourth__bloks_center li.flex_item .h_text {
  text-transform: uppercase;
  font-size: 18px;
}

.fourth .fourth__center_info ul.fourth__bloks_center li.flex_item .text, .fourth .fourth__center_info ul.fourth__bloks_center li.flex_item .price {
  font-size: 16px;
}

/*______________// fourth cекция ______________*/
/*______________ fifth cекция ______________*/
.fifth {
  background-image: url(../img/bg_3.1.png), url(../img/bg_3.1.2.png);
  background-repeat: repeat-y, repeat-y;
  background-color: rgba(255, 255, 255, 0.82);
  background-position: 0 50%, 100% 50%;
  background-size: cover, cover;
}

.fifth .fifth__center_info {
  width: 700px;
  text-align: center;
  margin: auto;
  margin-top: 79px;
  margin-bottom: 69px;
  color: #2a3b40;
}

.fifth .fifth__center_info .h3 {
  text-transform: none;
  margin-bottom: 30px;
  font-size: 29px;
}

.fifth .fifth__center_info .fifth__text {
  font-size: 18px;
}

.fifth .fifth__center_info .block_circle {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.fifth .fifth__center_info .block_menu2 {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.fifth .fifth__center_info .block_menu2 .a_menu2 {
  margin-right: 60px;
}

.fifth .fifth__center_info .block_menu2 .a_menu2:last-child {
  margin-right: 0px;
}

.fifth .fifth__center_info .block_menu2 .a_menu2 a.menu2 {
  text-decoration: none;
  color: #2a3b40;
}

.fifth .fifth__center_info .block_menu2 .a_menu2 a.menu2:hover {
  color: #fff;
}

/*______________// fifth cекция ______________*/
/*______________ sixth cекция ______________*/
.sixth {
  background-image: url(../img/bg_3.2.png);
  background-color: #2a3b40;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sixth .background_0 {
  background-color: transparent;
  height: 240px;
}

.sixth .background_light {
  background-color: rgba(255, 255, 255, 0.82);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sixth .sixth_h {
  text-align: center;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 45px;
}

.sixth ul.sixth__bloks {
  color: #2a3b40;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 1080px;
}

.sixth ul.sixth__bloks .img_background {
  background: #fff;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  width: 81px;
  height: 81px;
  margin-right: 10px;
}

.sixth ul.sixth__bloks .img_background img.img_item {
  width: 41px;
  height: 41px;
  margin: auto;
}

.sixth ul.sixth__bloks li.flex_item {
  margin: auto;
  margin-left: 0;
  margin-bottom: 55px;
  width: 410px;
}

.sixth ul.sixth__bloks li.flex_item .content_text {
  width: 319px;
}

.sixth ul.sixth__bloks li.flex_item .content_text .h_text {
  text-transform: uppercase;
}

.sixth ul.sixth__bloks li.flex_item2 {
  margin: auto;
  margin-right: 0;
  margin-bottom: 55px;
}

/*______________// sixth cекция ______________*/
/*______________ seventh cекция ______________*/
.seventh {
  background-image: url(../img/bg-4.png);
  background-color: #2a3b40;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 890px;
}

/*______________// seventh cекция ______________*/
/*______________ eighth cекция ______________*/
.eighth {
  background-color: #2a3b40;
}

.eighth .eighth__container, .eighth .h1 {
  color: #fff;
}

.eighth .eighth__container {
  margin: auto;
  margin-top: 51px;
  margin-bottom: 72px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.eighth .eighth__container .eighth_h {
  text-align: center;
  margin: auto;
  margin-bottom: -4px;
}

.eighth .eighth__container .eighth__form_decor {
  margin: auto;
}

.eighth .eighth__container .eighth__form_decor .element {
  width: 240px;
  margin: auto;
  margin-right: 100px;
  margin-left: 0;
  margin-top: 44px;
}

.eighth .eighth__container .eighth__form_decor .element2 {
  margin: auto;
  margin-right: 0;
  margin-bottom: 0;
}

.eighth .eighth__container .eighth__form_decor .element3 {
  margin-left: 7.6%;
  margin-right: 7.6%;
}

.eighth .eighth__container .eighth__form_decor input, .eighth .eighth__container .eighth__form_decor select {
  width: 240px;
}

.eighth .eighth__container .eighth__form_decor input option, .eighth .eighth__container .eighth__form_decor select option {
  background-color: #2a3b40;
}

.eighth .eighth__container .eighth__form_decor .fields_eighth_execution {
  border-width: 1.5px;
  border-color: #fff;
  border-style: solid;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding-left: 8px;
  height: 30px;
  font-size: 16.667px;
  font-family: "raleway_exemple", sans-serif;
  color: #fff;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  background: none;
}

.eighth .eighth__container .eighth__form_decor ::-webkit-input-placeholder {
  color: #fff;
}

.eighth .eighth__container .eighth__form_decor ::-moz-placeholder {
  color: #fff;
}

.eighth .eighth__container .eighth__form_decor :-ms-input-placeholder {
  color: #fff;
}

.eighth .eighth__container .eighth__form_decor ::-ms-input-placeholder {
  color: #fff;
}

.eighth .eighth__container .eighth__form_decor ::placeholder {
  color: #fff;
}

.eighth .eighth__container .eighth__form_decor .calendar {
  background: url(../img/calendar.png) no-repeat 96% 50%;
}

.eighth .eighth__container .eighth__form_decor .time {
  background: url(../img/time.png) no-repeat 96% 50%;
}

.eighth .eighth__container .eighth__form_decor .submit {
  margin: auto;
  margin-top: 55px;
}

.eighth .eighth__container .eighth__form_decor .submit #submit {
  text-align: center;
  text-transform: uppercase;
  padding-left: 0;
}

.eighth .eighth__container .eighth__form_decor .submit #submit::after {
  background-color: gray;
  opacity: .18;
}

.eighth .eighth__container .eighth__form_decor .submit #submit:focus, .eighth .eighth__container .eighth__form_decor .submit #submit:hover {
  color: #2a3b40;
  background-color: #f2f2f2;
}

.eighth .eighth__container .eighth__form_decor .submit #submit:hover {
  background-color: white;
  opacity: .9;
}

.eighth .eighth__container .eighth__form_decor .submit #submit:active {
  background-color: #f2f2f2;
}

/*______________// eighth cекция ______________*/
/*______________ ninth cекция ______________*/
.ninth {
  background-image: url(../img/bg-5.png);
  background-color: #2a3b40;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 865px;
}

/*______________// ninth cекция ______________*/
/*______________ tenth cекция ______________*/
.tenth {
  background-color: rgba(255, 255, 255, 0.82);
}

.tenth .tenth__container {
  margin: auto;
  margin-top: 46px;
  margin-bottom: 124px;
}

.tenth .tenth_h {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 56px;
}

.tenth .tenth__bloks {
  color: #555555;
}

.tenth li.flex_item {
  width: 339px;
  list-style: none;
  margin: auto;
  margin-top: 0;
  background-color: #fff;
}

.tenth li.flex_item img.img_item {
  height: 301px;
  margin: 0;
  padding: 0;
}

.tenth li.flex_item .block_text {
  margin-right: 28px;
  margin-left: 28px;
  margin-top: 25px;
  margin-bottom: 38px;
}

.tenth li.flex_item .block_text .h1_text {
  padding-bottom: 27px;
  font-weight: bold;
}

.tenth li.flex_item .block_text .h2_text {
  padding-bottom: 7px;
  font-weight: bold;
}

.tenth li.flex_item .read_more_otstyp {
  padding-top: 28px;
}

.tenth li.flex_item a.read_more {
  text-transform: uppercase;
  text-decoration: none;
  color: #555555;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 7px solid #ff992b;
}

.tenth li.flex_item a.read_more:hover {
  border-bottom: 7px solid rgba(255, 153, 43, 0.5);
}

.tenth li.flex_item:first-child {
  margin-left: 0;
}

.tenth li.flex_item:last-child {
  margin-right: 0;
}

/*______________// tenth cекция ______________*/
/*______________ eleventh cекция ______________*/
.eleventh {
  background-color: #2a3b40;
}

.eleventh .eleventh__center_info {
  margin: auto;
  margin-top: 48px;
  margin-bottom: 48px;
  color: #fff;
  text-align: center;
  width: 697px;
}

.eleventh .eleventh__center_info .eleventh_h {
  font-size: 83px;
  line-height: 1;
}

.eleventh .eleventh__center_info .text {
  font-size: 18.75px;
}

.eleventh .eleventh__center_info .h3_text {
  font-size: 18.75px;
  font-weight: bold;
  margin-top: 32px;
}

.eleventh .eleventh__center_info .eleventh__icons_social {
  margin: auto;
  margin-top: 43px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.eleventh .eleventh__center_info .eleventh__icons_social a.fa_bg {
  background: #fff;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  width: 46px;
  height: 46px;
  margin-right: 26px;
  text-decoration: none;
}

.eleventh .eleventh__center_info .eleventh__icons_social a.fa_bg:last-child {
  margin-right: 0;
}

.eleventh .eleventh__center_info .eleventh__icons_social a.fa_bg .fa {
  color: #2a3b40;
  margin: auto;
  font-size: 25px;
}

.eleventh .eleventh__center_info .eleventh__icons_social a.fa_bg:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

/*______________// eleventh cекция ______________*/
/*______________ footer cекция ______________*/
.footer {
  background-color: rgba(255, 255, 255, 0.82);
  color: #2d2f2a;
}

.footer .footer_container {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 73px;
  margin-bottom: 109px;
}

.footer .left_content {
  width: 344px;
}

.footer .left_content .columm {
  font-size: 18.75px;
}

.footer .left_content .columm .h2 {
  font-size: 25px;
  color: #2d2f2a;
  margin-bottom: 51px;
  font-weight: bold;
}

.footer .left_content .columm .text {
  text-align: justify;
  font-size: 18.75px;
}

.footer .right_content {
  text-align: center;
}

.footer .right_content .columm2 {
  width: 187px;
  font-weight: bold;
}

.footer .right_content .columm2 .h2 {
  font-size: 21px;
  color: #2d2f2a;
  margin-bottom: 51px;
}

.footer .right_content .columm2 a.info {
  text-decoration: none;
  color: #2d2f2a;
}

.footer .right_content .columm2:last-child {
  font-weight: normal;
}

/*______________ // footer cекция ______________*/
/*color*/
@media screen and (min-width: 800px) and (max-width: 1100px) {
  .container {
    width: 90%;
  }
  .header .header__center_info {
    max-width: 90%;
  }
  .header .header__center_info .text_header {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .second .content_block img {
    width: 45%;
    height: 45%;
  }
  .second .content_block .content__text {
    width: 55%;
  }
  .third .content_text {
    width: 30%;
  }
  .fourth .fourth__center_info {
    width: 540px;
    margin-right: auto;
    margin-left: auto;
  }
  .fourth .food_block:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .fourth .food_block:nth-child(3) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .fourth .food_block:nth-child(6) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .fifth {
    background-position: 15% 90%, 85% 90%;
  }
  .fifth .fifth__center_info {
    width: 70%;
  }
  .sixth ul.sixth__bloks li.flex_item {
    margin-left: auto;
  }
  .sixth ul.sixth__bloks li.flex_item2 {
    margin: auto;
    margin-bottom: 55px;
  }
  .eighth .eighth__container .eighth__form_decor {
    margin: auto;
  }
  .eighth .eighth__container .eighth__form_decor .element {
    margin: auto;
    margin-top: 44px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .eighth .center_element {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tenth li.flex_item {
    margin: auto;
    margin-top: 0;
  }
  .tenth li.flex_item:first-child {
    margin-left: auto;
  }
  .tenth li.flex_item:last-child {
    margin-right: auto;
    margin-top: 56px;
  }
  .eleventh .eleventh__center_info {
    width: 90%;
  }
  .footer .footer_container {
    margin-top: 0;
    margin-bottom: 73px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .left_content {
    margin: auto;
    margin-top: 73px;
  }
  .footer .right_content {
    margin: auto;
    margin-top: 73px;
  }
  .footer .right_content .columm2 {
    width: 150px;
  }
  .footer .right_content .columm2 .h2 {
    text-align: center;
  }
  .footer .right_content .columm2 .info_bocks_a {
    text-align: center;
  }
}

@media screen and (min-width: 0) and (max-width: 800px) {
  .container {
    width: 90%;
  }
  .header {
    /* MENU mobile */
  }
  .header .header__center_info {
    max-width: 90%;
  }
  .header .header__center_info .text_header {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header .flex__menu_logo {
    margin-top: 30px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .header .flex__menu_logo .menu__icon {
    display: inline-block;
    z-index: 999;
  }
  .header .flex__menu_logo .menu__links {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    min-height: 100vh;
    background-color: #2a3b40;
    padding-top: 102px;
    text-align: center;
    z-index: 998;
  }
  .header .flex__menu_logo ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .flex__menu_logo li {
    margin: 0;
    border-top: 4px solid rgba(255, 255, 255, 0.42);
  }
  .header .flex__menu_logo li:last-child {
    border-bottom: 4px solid rgba(255, 255, 255, 0.42);
  }
  .header .flex__menu_logo li a {
    padding-right: 25%;
    padding-left: 25%;
  }
  .second .content_block {
    margin-top: 69px;
  }
  .second .content_block img {
    margin-top: 20px;
    width: 100%;
    height: 100%;
  }
  .second .content_block:last-child {
    margin-bottom: 69px;
  }
  .second .content_block .content__text {
    width: 100%;
    margin-bottom: 20px;
  }
  .second .content_block .content__text .h_text {
    margin-bottom: 20px;
  }
  .third .content_text {
    width: 30%;
  }
  .fourth .fourth__center_info {
    width: 540px;
    margin-right: auto;
    margin-left: auto;
  }
  .fourth .food_block:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .fourth .food_block:nth-child(3) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .fourth .food_block:nth-child(6) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .fifth {
    background-position: 15% 90%, 85% 90%;
  }
  .fifth .fifth__center_info {
    width: 70%;
    margin-top: 69px;
    margin-bottom: 69px;
  }
  .fifth .fifth__center_info .block_menu2 {
    width: 70%;
  }
  .fifth .fifth__center_info .block_menu2 .a_menu2 {
    padding-right: 15px;
    margin-right: 0px;
  }
  .fifth .fifth__center_info .block_menu2 .a_menu2 a.menu2 {
    width: 25%;
  }
  .fifth .fifth__center_info .block_menu2 .a_menu2:last-child {
    padding-right: 10px;
  }
  .sixth .sixth_h {
    margin-top: 30px;
  }
  .sixth ul.sixth__bloks li.flex_item {
    margin-left: auto;
    margin-bottom: 30px;
  }
  .sixth ul.sixth__bloks li.flex_item2 {
    margin: auto;
    margin-bottom: 30px;
  }
  .eighth .eighth__container {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .eighth .eighth__container .eighth__form_decor .element {
    margin: auto;
    margin-top: 20px;
  }
  .eighth .eighth__container .eighth__form_decor .submit {
    margin-top: 40px;
  }
  .eighth .center_element {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tenth .tenth__container {
    margin-bottom: 69px;
  }
  .tenth ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tenth li.flex_item {
    margin: auto;
    margin-top: 0;
  }
  .tenth li.flex_item:first-child {
    margin-left: auto;
  }
  .tenth li.flex_item:last-child {
    margin-right: auto;
    margin-top: 56px;
  }
  .tenth li.flex_item:nth-child(2) {
    margin-top: 56px;
  }
  .eleventh .eleventh__center_info {
    width: 90%;
  }
  .footer .footer_container {
    margin-top: 0;
    margin-bottom: 73px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .left_content {
    margin: auto;
    margin-top: 73px;
  }
  .footer .right_content {
    margin: auto;
    margin-top: 73px;
  }
  .footer .right_content .columm2 {
    width: 150px;
  }
}

@media screen and (min-width: 0) and (max-width: 615px) {
  .header .header__center_info {
    max-width: 80%;
  }
  .header .h2 {
    font-size: 50px;
  }
  .third .content_text .h_text2 {
    font-size: 15px;
  }
  .third .content_text .text_third {
    font-size: 14px;
  }
  .circle {
    width: 20px;
    height: 20px;
  }
  .fourth .food_block {
    margin-bottom: 20px;
  }
  .fourth .food_block:first-child {
    margin-top: 20px;
  }
  .fourth .food_block:nth-child(3) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .fourth .food_block__reverse_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .fourth .fourth__center_info {
    width: 270px;
  }
  .sixth ul.sixth__bloks .img_background {
    width: 51px;
    height: 51px;
    margin: auto;
    margin-right: 10px;
  }
  .sixth ul.sixth__bloks .img_background img.img_item {
    width: 20px;
    height: 20px;
  }
  .sixth ul.sixth__bloks li.flex_item {
    width: 100%;
  }
  .sixth ul.sixth__bloks li.flex_item .content_text {
    width: 80%;
  }
  .sixth ul.sixth__bloks li.flex_item2 {
    margin: auto;
    margin-bottom: 30px;
  }
  .tenth ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tenth li.flex_item {
    width: 300px;
  }
  .tenth li.flex_item:nth-child(2) {
    margin-top: 56px;
  }
  .tenth li.flex_item img.img_item {
    height: 266px;
  }
  .eleventh .eleventh__center_info .eleventh__icons_social a.fa_bg {
    width: 36px;
    height: 36px;
    margin-right: 16px;
  }
  .eleventh .eleventh__center_info .eleventh__icons_social a.fa_bg .fa {
    font-size: 20px;
  }
  .footer .footer_container {
    margin-top: 0;
    margin-bottom: 73px;
    -webkit-box-pack: column;
    -webkit-justify-content: column;
        -ms-flex-pack: column;
            justify-content: column;
  }
  .footer .left_content {
    margin-top: 73px;
    width: 270px;
  }
  .footer .right_content {
    margin-top: 0;
  }
  .footer .right_content .columm2 {
    margin: auto;
    margin-top: 51px;
    width: 100px;
  }
}

@media screen and (min-width: 0) and (max-width: 375px) {
  .header .h1 {
    font-size: 60px;
  }
  .header .h2 {
    font-size: 40px;
  }
  .button {
    padding: 2px 4px 0px 4px;
  }
  .second .content_block {
    -webkit-box-pack: column;
    -webkit-justify-content: column;
        -ms-flex-pack: column;
            justify-content: column;
    margin-top: 30px;
  }
  .second .content_block img {
    margin-top: 20px;
    width: 100%;
    height: 100%;
  }
  .second .content_block:last-child {
    margin-bottom: 40px;
  }
  .sixth ul.sixth__bloks li.flex_item {
    margin-bottom: 20px;
  }
  .sixth ul.sixth__bloks li.flex_item .content_text {
    width: 76%;
  }
  .sixth ul.sixth__bloks li.flex_item2 {
    margin-bottom: 20px;
  }
  .tenth ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tenth li.flex_item {
    width: 252px;
  }
  .tenth li.flex_item:nth-child(2) {
    margin-top: 56px;
  }
  .tenth li.flex_item img.img_item {
    height: 223.7px;
  }
  .footer .footer_container {
    margin-top: 0;
    margin-bottom: 55px;
    -webkit-box-pack: column;
    -webkit-justify-content: column;
        -ms-flex-pack: column;
            justify-content: column;
  }
  .footer .left_content {
    padding-left: 0px;
    width: 80%;
    margin: auto;
    margin-top: 55px;
  }
  .footer .right_content {
    margin-top: 0;
  }
  .footer .right_content .columm2 {
    margin: auto;
    margin-top: 51px;
    width: 100px;
  }
}
