//___ default ___
@include media($min-w: 0px, $max-w: 1100px)
	.container
		width: 90%
@include media($min-w: 0px, $max-w: 615px)
	.circle
		width: 20px
		height: 20px




//___ header ___
@include media($min-w: 0px, $max-w: 1100px)
	.header
		.header__center
			&--wrap
				max-width: 90%
@include media($min-w: 800px, $max-w: 1100px)
	.header
			&--text
				padding-top: 60px
				padding-bottom: 60px
@include media($min-w: 0px, $max-w: 800px)
	.header
		padding-top: 30px
		.header__center
			height: 390px
			&--wrap
				width: 90%
			&--text
				padding-top: 30px
				padding-bottom: 30px
		// Mobile MENU 1part
		.header__top
			.menu__list
				width: 100%
				min-height: 100vh
				padding-top: 105px
				display: none
				overflow-y: scroll
				overflow-x: hidden
				z-index: 998
				position: fixed
				background-color: rgba(42, 59, 64, 1)
				top: 0
				bottom: 0
				left: 0
				right: 0
				text-align: center
			.menu__item
				margin: 0
				border-top: 4px solid rgba(255, 255, 255, 0.42)
				&:last-child
					border-bottom: 4px solid rgba(255, 255, 255, 0.42)
			.menu__link
				padding-left: 25%
				padding-right: 25%
			.menu__icon
				display: inline-block
				z-index: 999
@include media($min-w: 0px, $max-w: 615px)
	.header
		.header__center
			&--wrap
				max-width: 80%
		.h1
			font-size: 60px
		.h2
			font-size: 36px
		.button
			font-size: 25px




//: flavours :
@include media($min-w: 800px, $max-w: 1100px)
	.flavours
		.flavours__content
			&--text
				width: 54%
				padding-right: 20px
			&--img3d
				width: 40vw
				height: 25vw
@include media($min-w: 0px, $max-w: 800px)
	.flavours
		.flavours__content
			justify-content: space-around
			&--text
				width: 80%
				margin-bottom: 40px
				.h_text
					margin-bottom: 30px
			&--img3d
				width: 70vw
				height: 45vw
@include media($min-w: 0px, $max-w: 615px)
	.flavours
		padding-top: 40px
		padding-bottom: 50px
		.flavours__content
			&--text
				width: 100%
			&--img3d
				width: 90vw
				height: 60vw




//: new__info :
@include media($min-w: 800px, $max-w: 1100px)
	.new__info
		&--item
			width: 30%
@include media($min-w: 0px, $max-w: 800px)
	.new__info
		&--item
			width: 30%
@include media($min-w: 0px, $max-w: 615px)
	.new__info
		padding-top: 40px
		padding-bottom: 40px
		&--item
			.new__info--title
				font-size: 15px
			.new__info--text
				font-size: 14px




//: menu__prices :
@include media($min-w: 1101px, $max-w: null)
	.menu__prices
		.menu__prices--item
			// применить к: 3, 7, 11, 14 до ∞
			&:nth-child(4n+3)
				flex-direction: row-reverse
			// применить к: 4, 8, 12, 15 до ∞
			&:nth-child(4n+4)
				flex-direction: row-reverse
@include media($min-w: 616px, $max-w: 1100px)
	.menu__prices
		.menu__prices--wrap
			max-width: 540px
			margin-right: auto
			margin-left: auto
		.menu__prices--item
			&:nth-child(2n)
				flex-direction: row-reverse
@include media($min-w: 0px, $max-w: 615px)
	.menu__prices
		padding-top: 50px
		padding-bottom: 40px
		.menu__prices--wrap
			max-width: 270px
		.menu__prices--list
			margin-top: 20px
		.menu__prices--item
			margin-bottom: 20px




//: traditional__kitchen :
@include media($min-w: 800px, $max-w: 1100px)
	.traditional__kitchen
		.traditional__kitchen--sprite
			div
				height: 460px
				background-position: -90px 0
				&.right__bg
					background-position: -1162px -1px
		.traditional__kitchen--wrap
			width: 70%
@include media($min-w: 0px, $max-w: 800px)
	.traditional__kitchen
		.traditional__kitchen--sprite
			div
				height: 510px
				background-position: -138px 0px
				&.right__bg
					background-position: -1293px -1px
		.traditional__kitchen--wrap
			width: 70%
		.traditional__kitchen--list
			width: 70%
		.traditional__kitchen--item
			margin-right: 10px
			&:last-child
				margin-right: 10px
		.traditional__kitchen--link
			width: 25%
@include media($min-w: 0px, $max-w: 668px)
	.traditional__kitchen
		padding-top: 60px
		padding-bottom: 60px
		.traditional__kitchen--sprite
			div
				width: 200px
				height: 530px
				background-position: -193px 0px
				&.right__bg
					background-position: -1510px -1px
@include media($min-w: 0px, $max-w: 375px)
	.traditional__kitchen
		.traditional__kitchen--sprite
			div
				height: 530px
				background-position: -264px 0px
				&.right__bg
					background-position: -1438px -1px




//: menu__new :
@include media($min-w: 0px, $max-w: 1100px)
	.menu__new
		.menu__new--list
			justify-content: space-around
			.menu__new--item
				margin-bottom: 30px
@include media($min-w: 0px, $max-w: 615px)
	.menu__new
		.menu__new--list
			.menu__new--item
				width: 90%
			.menu__new--img
				width: 51px
				height: 51px
				margin-top: 5px
				img
					width: 25px
					height: 25px



//: slider__menu :
@include media($min-w: 0px, $max-w: 1182px)
	.slider__menu
		.slider__menu--buttons
			li
				width: 50px
				height: 53px
				padding: 9px 0px
				top: 49%
				background-color: rgba(42, 59, 64, 0.869)
				border-radius: 30%
				&.slider__menu--prev
					left: 2%
				&.slider__menu--next
					right: 2%
		.siema__carousel--list
			width: 100%
		.siema__carousel--item
			margin: 0 auto
@include media($min-w: 0px, $max-w: 800px)
	.slider__menu
		.slider__menu--buttons
			li
				top: 50%
				&.slider__menu--prev
					left: 7%
				&.slider__menu--next
					right: 7%
@include media($min-w: 0px, $max-w: 615px)
	.slider__menu
		.siema__carousel--item
			width: 300px
			img
				width: 100%
				height: 266px
@include media($min-w: 0px, $max-w: 375px)
	.slider__menu
		.siema__carousel--item
			width: 282px
			img
				width: 100%
				height: 252px




//: socials :
@include media($min-w: 0px, $max-w: 1100px)
	.socials
		.socials__content
			width: 90%
@include media($min-w: 0px, $max-w: 615px)
	.socials
		.socials__content
			&--link
				width: 36px
				height: 36px
				margin-right: 16px
				.fa
					font-size: 20px




//___ footer ___
@include media($min-w: 0px, $max-w: 1100px)
	.footer
		.footer__content
			justify-content: center
			&--info
				width: 45%
				padding-bottom: 50px
@include media($min-w: 0px, $max-w: 800px)
	.footer
		.footer__content
			&--info
				width: 70%
		.footer__content--list
			.footer__content--item
				min-width: 150px
@include media($min-w: 0px, $max-w: 615px)
	.footer
		padding-bottom: 0px
		.footer__content--list
			.footer__content--item
				min-width: 100px
				margin-bottom: 40px


