/* 100(Thin),   200(Extra Light), 300(Light), 400(Regular),
 * 500(Medium), 600(Semi Bold),   700(Bold),  800(Extra Bold),
 * 900(Black),  950(Extra Black) */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: local("Raleway"), url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local("Raleway"), url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Cookie";
  font-style: normal;
  font-weight: 400;
  src: local("Cookie"), url("../fonts/Cookie-regular.woff2") format("woff2"), url("../fonts/Cookie-regular.woff") format("woff");
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.65;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 1085px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
@media screen and (min-width: 0px) and (max-width: 1084px) {
  .container {
    width: 90%;
  }
}

header,
section {
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
}

input,
textarea {
  outline: none;
}
input:focus:required:invalid,
textarea:focus:required:invalid {
  border-color: #ff2828;
}
input:required:valid,
textarea:required:valid {
  border-color: #5aff28;
}

::-webkit-input-placeholder {
  color: #898888;
}

::-moz-placeholder {
  color: #898888;
}

:-ms-input-placeholder {
  color: #898888;
}

::-ms-input-placeholder {
  color: #898888;
}

::placeholder {
  color: #898888;
}

::-moz-selection {
  color: #fff;
  background-color: #373737;
}

::selection {
  color: #fff;
  background-color: #373737;
}

b,
strong {
  font-weight: 700;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1;
}

.h1 {
  margin-bottom: 10px;
  color: #1d1d1d;
  font-size: 42px;
}
@media screen and (min-width: 0px) and (max-width: 1084px) {
  .h1 {
    font-size: 32px;
  }
}

.h2 {
  margin-bottom: 10px;
  color: #1d1d1d;
  font-size: 34px;
}
@media screen and (min-width: 0px) and (max-width: 1084px) {
  .h2 {
    font-size: 28px;
  }
}

.h3 {
  color: #898888;
  font-size: 18px;
  font-weight: normal;
}

/*____ button ____*/
.button {
  padding: 16px 50px;
  display: inline-block;
  position: relative;
  color: #1d1d1d;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: sans-serif;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  border: #1d1d1d solid 1px;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.button::after {
  width: 100%;
  height: 4px;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.4;
  background-color: #1d1d1d;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.button:hover, .button:active {
  color: #c0c0c0;
}
.button:hover {
  opacity: 0.9;
  background-color: #1d1d1d;
}
.button:hover::after {
  background-color: #b6b6b6;
}
.button:active {
  background-color: #434343;
}
.button:active::after {
  background-color: #838383;
}

/*____// button _____*/
.header {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}
.header .container {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header__top {
  width: 70%;
}
@media screen and (min-width: 0px) and (max-width: 1085px) {
  .header .header__top {
    width: 100%;
  }
}
.header .header__top .menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 0px) and (max-width: 500px) {
  .header .header__top .menu__list {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.header .header__top .menu__item {
  min-height: 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .header__top .menu__item:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}
@media screen and (min-width: 0px) and (max-width: 500px) {
  .header .header__top .menu__item {
    margin-right: 11px;
  }
}
.header .header__top .menu__link {
  color: #9e9e9e;
  font-size: 14px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header .header__top .menu__link:hover {
  color: #1d1d1d;
}
@media screen and (min-width: 0px) and (max-width: 500px) {
  .header .header__top .menu__link {
    font-size: 17px;
  }
}
.header .header__top .menu__logo {
  margin-right: 15px;
  margin-left: 20px;
}
@media screen and (min-width: 0px) and (max-width: 500px) {
  .header .header__top .menu__logo {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
}
.header .header__top .menu__logo a.logo__link {
  padding: 9px 15.59px;
  color: #fff;
  font-size: 32px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Cookie", sans-serif;
  text-transform: uppercase;
  background-color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .header__top .menu__logo a.logo__link:hover {
  opacity: 0.8;
}
.header .header__center {
  width: 100%;
}
.header .header__center--inner {
  margin: 60px 30px;
  text-align: center;
}
.header .header__center--inner .button {
  margin-top: 40px;
}
.header .header__bottom {
  margin-bottom: 20px;
}
.header .header__bottom .circle {
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
  background-color: #9e9e9e;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-animation: circle-keyframes 1.2s ease-out infinite;
          animation: circle-keyframes 1.2s ease-out infinite;
}
.header .header__bottom .circle:nth-child(1) {
  opacity: 0.3;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.header .header__bottom .circle:nth-child(2) {
  opacity: 0.5;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.header .header__bottom .circle:nth-child(3) {
  opacity: 1;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes circle-keyframes {
  20% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes circle-keyframes {
  20% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
  }
}

.about-us {
  background-color: #1d1d1d;
  overflow: hidden;
}
.about-us .about-us__bg--bottom {
  width: 100%;
  height: 176px;
  z-index: 100;
  position: absolute;
  left: 0%;
  bottom: -2px;
  background-image: url(../img/dist/Buildings__White_Black.png);
  background-position: 50% 101%;
  background-repeat: repeat-x;
  background-size: contain;
}
.about-us .line {
  width: 5px;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
}
.about-us .circle {
  display: inline-block;
  z-index: 2;
  position: absolute;
  left: 50%;
  background-color: #1d1d1d;
  border: 5px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}
.about-us .circle.circle__small {
  width: 24px;
  height: 24px;
  margin-top: 10px;
}
.about-us .circle.circle__big {
  width: 46px;
  height: 46px;
}
.about-us .about-us__list {
  padding-top: 150px;
  padding-bottom: 250px;
}
@media screen and (min-width: 0px) and (max-width: 1085px) {
  .about-us .about-us__list {
    padding-bottom: 280px;
  }
}
@media screen and (min-width: 0px) and (max-width: 550px) {
  .about-us .about-us__list {
    padding-bottom: 130px;
  }
}
.about-us .about-us__item {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}
.about-us .about-us__item:nth-child(2) {
  padding-top: 40px;
}
.about-us .about-us__item:nth-child(3) {
  padding-top: 130px;
}
.about-us .about-us__item:nth-child(4) {
  padding-top: 110px;
}
.about-us .about-us__item--wrap {
  width: 349px;
}
@media screen and (min-width: 0px) and (max-width: 1085px) {
  .about-us .about-us__item--wrap {
    width: 40%;
  }
}
.about-us .about-us__item.left__item {
  padding-left: 110px;
}
@media screen and (min-width: 0px) and (max-width: 1085px) {
  .about-us .about-us__item.left__item {
    padding-left: 0;
  }
}
.about-us .about-us__item.left__item .about-us__item--date {
  text-align: right;
}
.about-us .about-us__item.right__item {
  padding-right: 110px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (min-width: 0px) and (max-width: 1085px) {
  .about-us .about-us__item.right__item {
    padding-right: 0;
  }
}
.about-us .about-us__item--date {
  position: relative;
  color: #fff;
  font-size: 48px;
  font-family: "Cookie", sans-serif;
  line-height: 1;
}
.about-us .about-us__item--text {
  color: #8b8b8b;
  font-size: 15px;
}
@media screen and (min-width: 0px) and (max-width: 1085px) {
  .about-us .about-us__item--text {
    font-size: 14px;
  }
}

.team {
  padding-top: 80px;
  padding-bottom: 100px;
}
@media screen and (min-width: 0px) and (max-width: 740px) {
  .team {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}
.team .team__title {
  text-align: center;
}
.team .team__title .h3 {
  color: #898888;
}
.team .team__list {
  margin-top: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 0px) and (max-width: 740px) {
  .team .team__list {
    margin-top: 40px;
  }
}
.team .team__item {
  width: 215px;
  margin-top: 90px;
  text-align: center;
}
.team .team__item:nth-child(2) {
  margin-top: 0;
}
@media screen and (min-width: 0px) and (max-width: 740px) {
  .team .team__item {
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 40px;
  }
}
.team .team__item img.photo {
  width: 174px;
  height: 174px;
  margin: 0 auto;
}
.team .team__item--text .team__item--name {
  color: #1d1d1d;
  font-size: 29px;
  font-family: "Cookie", sans-serif;
  font-weight: 700;
}
.team .team__item--text .team__item--position {
  color: #8b8b8b;
  font-size: 13px;
}
.team .team__item--links a.team__item--link {
  margin-right: 10px;
  color: #9e9e9e;
  font-size: 20px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.team .team__item--links a.team__item--link:last-child {
  margin-right: 0;
}
.team .team__item--links a.team__item--link:hover {
  color: #1d1d1d;
}

.provide {
  min-height: 843px;
  padding-top: 200px;
  overflow: hidden;
  color: #fff;
  background-color: #1d1d1d;
  -webkit-clip-path: polygon(0% 11%, 100% 0%, 100% 93%, 0% 100%);
          clip-path: polygon(0% 11%, 100% 0%, 100% 93%, 0% 100%);
}
@media screen and (min-width: 0px) and (max-width: 1085px) {
  .provide {
    padding-top: 140px;
    -webkit-clip-path: polygon(0% 5%, 100% 0%, 100% 94%, 0% 100%);
            clip-path: polygon(0% 5%, 100% 0%, 100% 94%, 0% 100%);
  }
}
@media screen and (min-width: 0px) and (max-width: 600px) {
  .provide {
    -webkit-clip-path: polygon(0% 4%, 100% 0%, 100% 96%, 0% 100%);
            clip-path: polygon(0% 4%, 100% 0%, 100% 96%, 0% 100%);
  }
}
.provide .provide__title {
  text-align: center;
}
.provide .provide__title .h2 {
  margin-bottom: 10px;
  color: #fff;
}
.provide .provide__list {
  margin-top: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 0px) and (max-width: 1085px) {
  .provide .provide__list {
    margin-top: 0px;
  }
}
.provide .provide__item {
  width: 330px;
  text-align: center;
  margin-top: 50px;
}
@media screen and (min-width: 0px) and (max-width: 1085px) {
  .provide .provide__item {
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
  }
}
.provide .provide__item--icon {
  font-size: 50px;
}
.provide .provide__item--icon .fa {
  padding: 30px;
  border: 5px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.provide .provide__item--text .provide__item--title {
  font-size: 26px;
}
.provide .provide__item--text .provide__item--info {
  color: #8b8b8b;
  font-size: 18px;
}
.provide .provide__bottom--blog {
  height: 422px;
  margin: 0 auto;
  margin-top: 70px;
  background-image: url(../img/dist/Post5.png);
  background-position: 55% 45%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
@media screen and (min-width: 0px) and (max-width: 1085px) {
  .provide .provide__bottom--blog {
    height: 400px;
    background-position: 52% 45%;
    background-size: 150%;
  }
}
@media screen and (min-width: 0px) and (max-width: 600px) {
  .provide .provide__bottom--blog {
    height: 350px;
    margin-top: 0px;
    background-position: 50% -10%;
    background-size: 200%;
  }
}
.provide .provide__bottom--blog .provide__bottom--link {
  margin-top: 214px;
}

.footer {
  text-align: center;
}
@media screen and (min-width: 0px) and (max-width: 1085px) {
  .footer {
    padding-top: 40px;
  }
}
.footer .footer__title {
  margin-top: 80px;
  margin-bottom: 60px;
}
@media screen and (min-width: 0px) and (max-width: 1085px) {
  .footer .footer__title {
    margin-top: 0px;
    margin-bottom: 30px;
  }
}
.footer .footer__list {
  width: 60%;
  min-height: 82px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
@media screen and (min-width: 0px) and (max-width: 1085px) {
  .footer .footer__list {
    width: 100%;
  }
}
.footer .footer__item {
  min-width: 130px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.footer .footer__item:hover {
  border-color: #1d1d1d;
}
.footer .footer__item:hover a {
  color: #1d1d1d;
}
.footer a.footer__link {
  padding: 10px;
  color: #9e9e9e;
  font-size: 13px;
}
.footer a.footer__link .footer__link--icon {
  font-size: 20px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.footer .footer__form {
  width: 64%;
  margin: 60px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 0px) and (max-width: 1085px) {
  .footer .footer__form {
    width: 100%;
  }
}
.footer .footer__form input,
.footer .footer__form textarea {
  width: 100%;
  border: 1px solid #898888;
}
.footer .footer__form input {
  height: 40px;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 15px;
  text-align: center;
}
.footer .footer__form input::-webkit-input-placeholder {
  color: #898888;
}
.footer .footer__form input::-moz-placeholder {
  color: #898888;
}
.footer .footer__form input:-ms-input-placeholder {
  color: #898888;
}
.footer .footer__form input::-ms-input-placeholder {
  color: #898888;
}
.footer .footer__form input::placeholder {
  color: #898888;
}
.footer .footer__form textarea {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 15px;
}
.footer .footer__form textarea::-webkit-input-placeholder {
  color: #898888;
}
.footer .footer__form textarea::-moz-placeholder {
  color: #898888;
}
.footer .footer__form textarea:-ms-input-placeholder {
  color: #898888;
}
.footer .footer__form textarea::-ms-input-placeholder {
  color: #898888;
}
.footer .footer__form textarea::placeholder {
  color: #898888;
}
.footer .footer__form .button {
  width: 100%;
}
.footer .footer__copyright {
  margin-top: 15px;
  margin-bottom: 40px;
  color: #1d1d1d;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.footer .footer__copyright--company {
  font-size: 30px;
  font-family: "Cookie", sans-serif;
}